nav .navbar-brand
{
    /* size for brand */
    font-size: x-large;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}


main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

}

body {

    background: url(images/topography.png);
}

.box {
    background-color: white;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    margin: 5px;
    text-align: center;
}

.smallbox {
    padding: 15px;
    max-width: 25%;
    display: inline-block
}

.card {
    margin-left: 10px;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

#feedback
{
    color: red;
}

#postedit
{
    margin: 30px;
}

#dateselect
{
    margin-bottom: 10px;
}

#postid
{
    margin-bottom: 10px;
    text-align: center;
}

#barchart {
    width: 800px;
    height: 400px;
    background-color: white;
    margin: 10px auto;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

.vote {
    text-align: left;
    padding-left: 30px;
}
